@if(content) {
  <div class="content-container" (swipeRight)="swipeRight()" (swipeLeft)="swipeLeft()">
    @if(content.lock && !(passwordStorage.validPassword$ | async)){
      <app-unlock-form ></app-unlock-form>
    }

    <div class="content-list-blocks" [class.locked]="content.lock && !(passwordStorage.validPassword$ | async)">
      <app-content-block-creation [blockList]="content.blockList"></app-content-block-creation>
    </div>

    <app-content-footer [content]="content"></app-content-footer>
  </div>

}
