<div *ngIf="content" class="content-container">

  <div class="content-list-blocks">
    <app-content-block-creation [blockList]="content.blockList"></app-content-block-creation>
  </div>

  <footer class="content-footer">
    <app-header-logo></app-header-logo>

    <div class="content-footer-text">
      <h1 *ngIf="content.title" class="content-title">
        {{content.title}}
      </h1>
      <h2 *ngIf="content.subtitle" class="content-subtitle">
        {{content.subtitle}}
      </h2>
      <p *ngIf="content.credits" class="content-credits">
        {{content.credits}}
      </p>
    </div>

    <app-header-nav [next]="nextPageKey"></app-header-nav>
  </footer>
</div>
