.content-container {
  position: relative;
  padding-bottom: 200px;
  padding-top: 64px;
}


/* blocks */

.content-list-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-block-container {
  margin: 32px;
}


/*footer */
.content-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 16px 0px;

  background-color: var(--background-main);
  box-shadow: -0.1px -4px 14.7px 1px rgba(125, 124, 124, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.content-footer-text {
  color: var(--font-color-hover-main);
  margin: 0px 32px;
}

.content-title {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.content-subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 24px;
}

.content-credits {
  font-size: 14px;
  text-align: center;
}


/* mobile */
@media screen and (max-width: 992px) {
  .content-footer-text {
    margin: 0px 16px;
  }

  .content-title {
    font-size: 14px;
  }

  .content-subtitle {
    font-size: 10px;
  }

  .content-credits {
    font-size: 8px;
  }
}
