.content-container {
  position: relative;
  padding-bottom: 200px;
  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* blocks */

.content-list-blocks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: var(--content-max-width);
}



/*footer */
.content-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 16px 0px;

  background-color: var(--background-main);
  box-shadow: 0px -6px 9px 1px rgba(129, 129, 129, 0.38);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.content-footer-text {
  color: var(--font-color-hover-main);
  margin: 0px 32px;
}

.content-title {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.content-subtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 24px;
}

.content-credits {
  font-size: 14px;
  text-align: center;
}


/* mobile */
@media screen and (max-width: 992px) {
  .content-container {
    padding-top: 32px;
    padding-bottom: 144px;
  }


  .content-block-container {
    margin: 16px;
  }


  .content-footer {
    flex-wrap: wrap;
    padding: 8px 0px;
  }

  .content-footer-text {
    width: 100%;
    margin: 8px;
  }

  app-header-logo, app-header-nav {
    order: 2;
  }

  .content-title {
    font-size: 14px;
  }

  .content-subtitle {
    font-size: 10px;
    display: none;
  }

  .content-credits {
    font-size: 7px;
  }
}
