<div *ngIf="content" class="content-container">

  <div class="content-list-blocks">
    <div *ngFor="let block of content.blockList" class="content-block-container">
      <app-block-image *ngIf="block.constructor.name == imageBlockType" [img]="block"></app-block-image>
      <app-block-search *ngIf="block.constructor.name == searchBlockType" [search]="block"></app-block-search>
      <app-block-video *ngIf="block.constructor.name == videoBlockType" [video]="block"></app-block-video>
    </div>
  </div>

  <footer class="content-footer">
    <app-header-logo></app-header-logo>

    <div class="content-footer-text">
      <h1 *ngIf="content.title" class="content-title">
        {{content.title}}
      </h1>
      <h2 *ngIf="content.subtitle" class="content-subtitle">
        {{content.subtitle}}
      </h2>
      <p *ngIf="content.credits" class="content-credits">
        {{content.credits}}
      </p>
    </div>

    <app-header-nav [next]="nextPageKey"></app-header-nav>
  </footer>
</div>
