.social-medias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 auto;
  gap: 4px 8px;
  padding: 40px;

}

.button-image {
  width: 25vw;
}

/* mobile */
@media screen and (max-width: 992px) {
  .social-medias {
    padding: 24px;
    gap: 2px 4px;
  }
}

@media screen and (max-width: 400px) {
  .button-image {
    width: 90vw;
  }
}
