<div class="container">
  <div class="header">
    <img class="banane" alt="banane" src="/assets/img/a-propos/banane.png">
    <h1 class="header-title">I am a banana</h1>
    <p class="header-subtitle">Yellow outside, white inside</p>
  </div>

  <div class="body">
    <p>
      Graduated from ECV Paris in art direction and multimedia,<br />
      I am currently working as an art director at Altmann+Pacreau.
    </p>
    <p>
      Curious and passionated, I have tested various range of my work domain,<br />
      which make me a skillful graphic designer.<br />
      My skills are range from advertising to publishing, visual identity and motion design.
    </p>
    <p>
      Every day we see billions of signs that impact our brain more or less consciously
      and I have the chance to contribute to it.
    </p>
  </div>
</div>

<app-header-logo></app-header-logo>
