.header-logo {
  margin-left: 48px;
  display: block;
  width: 64px;
  height: 64px;
}

svg {
  stroke: var(--font-color-main);
}

svg:hover {
  stroke: var(--font-color-hover-main);
}

/* mobile */
@media screen and (max-width: 992px) {
  .header-logo {
    margin-left: 16px;
    height: 32px;
    width: 32px;
  }
}
