
/* === button container for dashed animation === */

.button-container {
  --width-button: 280px;
  --padding-button: 16px;
  --width-dash: calc(var(--width-button) + 2*var(--padding-button));
  --height-dash: 1px;

  --color-start: white;
  --color-middle: white;
  --color-middle2: var(--color-middle);
  --color-stop: white;

  --percent-start: 33%;
  --percent-middle: 100%;
  --percent-middle2: 100%;
  --percent-stop: 100%;

  background-color: transparent;
  padding: var(--padding-button);
  cursor: pointer;

  background-image:
    linear-gradient(to left, var(--color-start) var(--percent-start), var(--color-middle) var(--percent-middle), var(--color-middle2) var(--percent-middle2), var(--color-stop) var(--percent-stop)),
    linear-gradient(to right, var(--color-start) var(--percent-start), var(--color-middle) var(--percent-middle), var(--color-middle2) var(--percent-middle2), var(--color-stop) var(--percent-stop)),
    linear-gradient(to bottom, var(--color-start) var(--percent-start), var(--color-middle) var(--percent-middle), var(--color-middle2) var(--percent-middle2), var(--color-stop) var(--percent-stop)),
    linear-gradient(to top, var(--color-start) var(--percent-start), var(--color-middle) var(--percent-middle), var(--color-middle2) var(--percent-middle2), var(--color-stop) var(--percent-stop));


  background-position: left top, right bottom, left bottom, right top;
  background-repeat: no-repeat;
  background-size: var(--width-dash) var(--height-dash), var(--width-dash) var(--height-dash), var(--height-dash) var(--width-dash), var(--height-dash) var(--width-dash);

  position: relative;
}


.button-container:hover {
  --color-start: var(--font-color-hover-main);
  --color-middle: var(--font-color-hover-main);
  --color-stop: var(--font-color-hover-main);

  animation-name: dash-move;
  animation-duration: 0.3s;
  color: var(--font-color-hover-main);
}



/* === button and background image === */

.button {
/*
video for the animation
https://www.youtube.com/watch?v=cccc9HjiUwo&t=21s
*/
  color: white;
  height: var(--width-button);
  width: var(--width-button);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--image-url);
}

.button-container:hover .button {
  background-image: none;
  color: var(--font-color-hover-main);
}

.button-container:hover .button:before{
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--image-url);

  filter: blur(3px) grayscale(100%) brightness(90%);
}


/* === button text content === */

.button-content {
  display: none;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-align: center;
  letter-spacing: 1.5px;
  word-spacing: 2px;
}

.button-container:hover .button-content {
  display: flex;
  color: var(--font-color-hover-main);
}





/* === plus button on hover === */

.rounded-plus {
  display: flex;
  background-color: var(--background-main);
  color: var(--font-color-hover-main);
  font-size: 24px;
  border-radius: 50%;
  border: 2px var(--font-color-hover-main) solid;
  filter: none;

  position: absolute;
  top: 100%;
  left: calc(50% - 13px);
  opacity: 0;

  transition: opacity linear 0.2s, top ease-out 0.3s;
}

.button-container:hover .rounded-plus {
  filter: none;
  transition: opacity linear 0.15s, top ease-out 0.3s;
  transition-delay: 0.1s, 0s;
  opacity: 1;
  top: calc(50% - 13px);
}




/* === animations === */

@keyframes dash-move {
  10% {
    --color-start: var(--font-color-hover-main);
    --color-middle: transparent;
    --color-stop: var(--font-color-hover-main);

    --percent-start: 78%;
    --percent-middle: 78%;
    --percent-middle2: 100%;
    --percent-stop: 100%;
  }
  20% {
    --color-start: var(--font-color-hover-main);
    --color-middle: transparent;
    --color-stop: var(--font-color-hover-main);

    --percent-start: 66%;
    --percent-middle: 66%;
    --percent-middle2: 94%;
    --percent-stop: 94%;
  }
  30% {
    --color-start: var(--font-color-hover-main);
    --color-middle: transparent;
    --color-stop: var(--font-color-hover-main);

    --percent-start: 54%;
    --percent-middle: 54%;
    --percent-middle2: 90%;
    --percent-stop: 90%;
  }
  40% {
    --color-start: var(--font-color-hover-main);
    --color-middle: transparent;
    --color-stop: var(--font-color-hover-main);

    --percent-start: 42%;
    --percent-middle: 42%;
    --percent-middle2: 78%;
    --percent-stop: 78%;
  }
  50% {
    --color-start: var(--font-color-hover-main);
    --color-middle: transparent;
    --color-stop: var(--font-color-hover-main);

    --percent-start: 33%;
    --percent-middle: 33%;
    --percent-middle2: 66%;
    --percent-stop: 66%;
  }
  60% {
    --color-start: var(--font-color-hover-main);
    --color-middle: transparent;
    --color-stop: var(--font-color-hover-main);

    --percent-start: 22%;
    --percent-middle: 22%;
    --percent-middle2: 58%;
    --percent-stop: 58%;
  }
  70% {
    --color-start: var(--font-color-hover-main);
    --color-middle: transparent;
    --color-stop: var(--font-color-hover-main);

    --percent-start: 10%;
    --percent-middle: 10%;
    --percent-middle2: 46%;
    --percent-stop: 46%;
  }
  80% {
    --color-start: var(--font-color-hover-main);
    --color-middle: transparent;
    --color-stop: var(--font-color-hover-main);

    --percent-start: 0%;
    --percent-middle: 0%;
    --percent-middle2: 34%;
    --percent-stop: 34%;
  }
  90% {
    --color-start: var(--font-color-hover-main);
    --color-middle: transparent;
    --color-stop: var(--font-color-hover-main);

    --percent-start: 0%;
    --percent-middle: 0%;
    --percent-middle2: 22%;
    --percent-stop: 22%;
  }
}

