<div class="container">
  <div class="header">
    <img class="banane" alt="banane" src="/assets/img/a-propos/banane.png">
    <h1 class="header-title">Je suis une banane.</h1>
    <p class="header-subtitle">Jaune à l'exterieur, blanche à l'intérieur</p>
  </div>

  <div class="body">
    <p>Diplomée de l’ECV Paris en direction artistique et multimédia,
      je suis actuellement directrice artistique chez Altmann+Pacreau.
    </p>
    <p>
      Curieuse et passionnée, j'ai testé de multiples facettes de mon métier,
      ce qui fait de moi une graphiste polyvalente .<br />
      Mes domaines de compétences s’étendent de la pub à l'édition,
      l’identité visuelle ou encore le motion design.
    </p>
    <p>
      Notre monde actuel est composé de milliard de signes
      qui nous influencent plus ou moins consciemment,
      et j’ai la chance de pouvoir y contribuer.
    </p>
  </div>
</div>

<app-header-logo></app-header-logo>
