<nav class="header-links">
  <a class="header-link icon" href="https://www.instagram.com/_cindy_tang" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
  <a class="header-link link-text-underline" routerLink="/about">
    About
  </a>
  <a  *ngIf="previousPage$ | async" (click)="previous()" class="header-link link-text-underline previous">
    <i class="fas fa-chevron-left"></i>
  </a>
  <a *ngIf="nextPage$ | async" (click)="next()" class="header-link link-text-underline next">
    <i class="fas fa-chevron-right"></i>
  </a>
</nav>
