/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

:root {
  --background-main: #000000;
  --font-color-main: #fff;
  --font-color-hover-main: #fffc00;
  --font-color-legend: #858585;
  --content-max-width: 1920px;
}

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}


.link-text-underline {
  color: var(--font-color-main);
}

.link-text-underline:after {
  content: "";
  height: 1px;
  width: 0px;
  display: flex;
  background-color: var(--font-color-hover-main);
}

.link-text-underline:hover:after {
  transition: width ease 0.5s;
  width: 100%;
}

.link-text-underline:hover {
  transition: width ease 0.5s;
  color: var(--font-color-hover-main);
}

.btn-primary {
  color: var(--font-color-main);
  background: none;
  border: 1px solid var(--font-color-main);
  cursor: pointer;
  padding: 8px 16px;
}

.btn-primary:hover {
  color: var(--font-color-hover-main);
  border: 1px solid var(--font-color-hover-main);
}

.btn-secondary {
  color: var(--font-color-main);
  background: none;
  border: 1px solid var(--font-color-main);
  cursor: pointer;
  padding: 8px 16px;
}

.btn-secondary:hover {
  color: var(--font-color-hover-main);
  border: 1px solid var(--font-color-hover-main);
}

.input {
  padding: 8px 16px;
  width: 100%;
  box-sizing: border-box;
}

.input:focus-visible {
  outline: none;
}


