/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
  --background-main: #000000;
  --hover-main: #fffc00;
  --text-color-main: white;

  color: var(--text-color-main);
}

body {
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: var(--text-color-main);
}

a:visited {
  text-decoration: none;
}


.link-text-underline:after {
  content: "";
  height: 1px;
  width: 0px;
  display: flex;
  background-color: var(--hover-main);
}

.link-text-underline:hover:after {
  transition: width ease 0.5s;
  width: 100%;
}

.link-text-underline:hover {
  transition: width ease 0.5s;
  width: 100%;
  color: var(--hover-main);
  text-align: center;
}
