/* You can add global styles to this file, and also import other style files */

@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);
@import url('https://fonts.googleapis.com/css?family=Heebo');

:root {
  --background-main: #000000;
}

body {
  margin: 0px;
  font-family: 'Heebo', sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
