<div class="home-container">
  <div class="logo-container">
    <img class="logo" alt="cindy-tang-logo" src="/assets/img/logo/logo_with_title.png">
  </div>

  <h1 class="main-title">
    Graphic design & art direction.
  </h1>

  <div class="entry-button-container">
    <a *ngFor="let entryButton of entryButtonArray"
       [routerLink]="entryButton.link" class="entry-button">
      <app-button-moving-dashes [imageUrl]="entryButton.imageUrl">
        <h2 *ngIf="entryButton.title" class="entry-button-title">
          {{ entryButton.title }}
        </h2>
        <h3 *ngIf="entryButton.subtitle" class="entry-button-subtitle">
          {{ entryButton.subtitle }}
        </h3>
        <h3 *ngIf="(entryButton.title || entryButton.subtitle) && entryButton.type" class="entry-button-separator">
          -
        </h3>
        <h3 *ngIf="entryButton.type" class="entry-button-type">
          <i>{{ entryButton.type }}</i>
        </h3>
      </app-button-moving-dashes>
    </a>
  </div>
</div>
