.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 168px;
}

.main-title {
  margin: 88px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 2.9px;
}

.entry-button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.entry-button {
  margin: 40px;
}

.entry-button .entry-button-title, .entry-button .entry-button-subtitle,
.entry-button .entry-button-separator, .entry-button .entry-button-type {
  margin: 0px;
  font-size: 22px;
}

.entry-button-title, .entry-button-subtitle {
  text-transform: uppercase;
}

.entry-button-title {
  font-weight: 900;
}

.entry-button-subtitle, .entry-button-separator, .entry-button-type {
  font-weight: 300;
}

.entry-button-type {
  font-style: italic;
}


/* mobile */
@media screen and (max-width: 992px) {
  :host {
    margin: 16px;
    display: block;
  }

  /*
  the logo should go on top left. So no really other solution than an absolut position. But I don't like it
   TODO improve
    */
  .logo {
    width: 48px;
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .main-title {
    margin: 32px;
    margin-top: 16px;
    font-size: 24px;
  }

  .entry-button {
    margin: 24px;
  }
}
