<div class="home-container">
  <div class="logo-container">
    <img class="logo" alt="cindy-tang-logo" src="/assets/img/logo/logo.png">
  </div>

  <h1 class="main-title">
    Graphic design & art direction.
  </h1>

  <div class="entry-button-container">
    <a *ngFor="let entryButton of entryButtonArray"
       [routerLink]="entryButton.link" class="entry-button">
      <app-button-moving-dashes [imageUrl]="entryButton.imageUrl">
        {{ entryButton.name }}
      </app-button-moving-dashes>
    </a>
  </div>
</div>
