.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 224px;
}

.main-title {
  margin: 88px 0px;
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 2.9px;
}

/* mobile */
@media screen and (max-width: 992px) {
  :host {
    margin: 16px;
    display: block;
  }

  /*
  the logo should go on top left. So no really other solution than an absolut position. But I don't like it
   TODO improve
    */
  .logo {
    width: 48px;
    position: absolute;
    top: 16px;
    left: 16px;
  }

  .main-title {
    margin: 32px;
    margin-top: 16px;
    font-size: 24px;
  }
}
