:host {
  display: flex;
  justify-content: center;
  height: 70vh;
  overflow: hidden;
  background-color: var(--background-main);
}

.content-image, .content-video {
  z-index: 10;
}
.content-comment {
  scale: 1.02;
  z-index: 9;
}

/* mobile */
@media screen and (max-width: 992px) {
  :host {
    flex-wrap: wrap;
    gap: 0px;
    height: auto;
    width: 70vw;
    overflow: hidden;
  }

  .content-image,
  .content-video,
  .content-comment {
    height: auto;
    width: 70vw;
  }
}
